///colors//////////////////////////////////////////////
$box-grey-bg: #646363;
$box-secondary-bg: #a69d9d;
$box-blue-bg: #3073b1;
$box-light: #d0d0d0;
$box-dark: black;
$box-good: #64f673;
$box-bad: #f66464;

$p0:#ffc207;
$p14:#ffef00;
$p28:#00f539;
$p42:#00e7ec;
$p57:#0004e4;
$p71:#cc00ea;
$p85:#f20083;
$p100:#ff0000;
//////////////////////////////////////////////////////
